version: '3'

services:
  backup-ssh:
    image: pgbackrest:${TAG}
    container_name: backup-ssh
    hostname: backup-ssh
    volumes:
      - "./conf/ssh/id_rsa:/home/pgbackrest/.ssh/id_rsa"
      - "./conf/ssh/id_rsa_sftp:/home/pgbackrest/.ssh/id_rsa_sftp"
      - "./conf/ssh/id_rsa_sftp.pub:/home/pgbackrest/.ssh/id_rsa_sftp.pub"
      - "./conf/backup/backup_prepare-ssh.sh:/home/pgbackrest/backup_prepare.sh"
      - "./conf/backup/backup_pgbackrest-ssh.conf:/etc/pgbackrest/pgbackrest.conf"
    command: /home/pgbackrest/backup_prepare.sh
    environment:
      - "BACKREST_UID"
      - "BACKREST_GID"
    depends_on:
      - minio
      - nginx
      - createbucket
      - pg-ssh
      - sftp
    networks:
      - ssh

  backup_alpine-ssh:
    image: pgbackrest:${TAG}-alpine
    container_name: backup_alpine-ssh
    hostname: backup_alpine-ssh
    volumes:
      - "./conf/ssh/id_rsa:/home/pgbackrest/.ssh/id_rsa"
      - "./conf/ssh/id_rsa_sftp:/home/pgbackrest/.ssh/id_rsa_sftp"
      - "./conf/ssh/id_rsa_sftp.pub:/home/pgbackrest/.ssh/id_rsa_sftp.pub"
      - "./conf/backup/backup_prepare-ssh.sh:/home/pgbackrest/backup_prepare.sh"
      - "./conf/backup/backup_pgbackrest-ssh.conf:/etc/pgbackrest/pgbackrest.conf"
    command: /home/pgbackrest/backup_prepare.sh
    environment:
      - "BACKREST_UID"
      - "BACKREST_GID"
    depends_on:
      - minio
      - nginx
      - createbucket
      - pg-ssh
      - sftp
    networks:
      - ssh

networks:
  ssh:

volumes:
  backrest_data_ssh: